body {
  text-align: center;
  color: #000f08;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #FFFFFF;
}

body * {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  font-weight: 800;
  /*em unidad de medida para los fint-size, definido dentro del elemento en el que se encuentra*/
  font-size: 3.75em;
  margin-bottom: 0.25em;
}

h2 {
  font-weight: 700;
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}
.subtitulo, h4, h5 {
  font-weight: 400;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.25em;
}

.subtitulo, h4, h5 {
  font-weight: 400;
}

/*NAV BOTONES Y LOGO*/
nav {
/*vw y vh son medidas relativas de acuerdo al viewport o ventana de visualización del navegador,
1vw = 1% del ancho de la ventana de visualización.
100vw = el ancho total de la ventana de visualización.
1vh = 1% de la altura de la ventana de visualización.
100vh = altura de la ventana de visualización.*/
  width: 100vw;
  text-align: left;
  padding: 1.25rem 4rem;
  position: fixed;
  top: 0;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display:inline-block;
  margin: 0 1em;
  vertical-align: middle;
}

.icono {
  width: 2rem;
}

/*atributo fill relleno para archivos .svg*/
.icono svg {
  fill: #ffffff;
}
#ubicacion h2 {
  margin: 1em auto;
}

/*HEADER HERO SECTION*/
.hero-section {
  text-align: right;
  background-image: url('../img/bg-hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-shadow: 0.125em 0.25em 0.125em #707070;
  padding: 6.25rem 3.125rem;
}

/*SECTION PRÓXIMA CHARLA*/
.sweet-brown {
  background: #a4452c;
  padding: 3.125rem;
  text-align: left;
  color: #ffffff;
  /*Propiedad que especifica como se maneja el espacio en blanco dentro de un elemento*/
  white-space: nowrap;
}

.charla-speaker {
  width: 25%;
  /*Propiedad que establece la alineación vertical de un elemento*/
  vertical-align:middle;
}

.charla-texto {
  width: 72.5%;
  vertical-align: middle;
  margin-left: 2.5%;
  white-space:normal;
}

.sweet-brown h3, .sweet-brown h5{
  margin-bottom: 0.5em;
}

/*SECTION EVENTO*/
#eventos h2 {
  margin-bottom: 1em;
}

#eventos h3 {
  margin: 1em auto;
}

.evento {
  width: 30%;
}

.evento img {
  width: 75%;
}

.evento a {
  text-decoration: none;
  list-style-type: none;
  color: #000f08;
}

/*NAV Y FOOTER*/
.oscuro {
  background: #000f08;
  color:#ffffff;
}

.oscuro a {
  color: #ffffff;
  text-decoration: none;
}

section, footer {
  margin-top: 4.5rem;
}

footer {
  padding: 3.125rem;
}

.centrado {
  width: 75%;
  margin: 0 auto;
}

.charla-speaker, .charla-texto, .evento {
  display: inline-block;
}
/*FOOTER*/
footer i {
  margin: 0 0.25em 0.5em 0.25em;
}

/*PÁGINA EVENTO 01*/
.contenido {
  margin: 150px auto;
  width: 1085px;
}

.contenido img {
  border-radius: 5px;
  margin-top: 50px;
}

.simposio {
  text-align: left;
  font-size: 45px;
  font-weight: bold;
  margin-left: 25px;
  color: #000F08;
}

.parrafo-evento {
  text-align: left;
  margin-left: 20px;
  margin-top: 30px;
  padding: 10px;
  font-size: 25px;
  color: #000F08;
}

.gregorio {
  text-align: left;
  margin-top: 25px;
  margin-left: 25px;
  font-weight: bold;
  font-size: 40px;
  color:#000F08;
}
